.square {
      display: grid;
      width: 87.5px;
      height: 87.5px;
      place-content: center;
}

.light {
      background-color: #f3ddb3;
}

.dark {
      background-color:#997246;
}

.piece {
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60px;
}

.piece:hover {
      cursor: grab;
}

.piece:active {
      cursor: grabbing;
}


/* #grid .square-light{
      width: 87.5px;
      height: 87.5px;
      background-color: #f3ddb3;
  }
  
  #grid .square-dark{
      width: 87.5px;
      height: 87.5px;
      background-color:#997246;
  } */